$colorSection2:white;
$colorWrite:black;
$colorBtnMenu:#0271bc;
$colorButtons:#f26002;
$colorFooter:#304268;
$colorLightBlue:#8ccbea;
$colorSuperLightBlue:#eff9ff;
$colorLetterSec: grey;
$font2:'Roboto Slab', serif;
$font:'Roboto', serif;
$colorHeart:red;
$colorMenu:#EFF0F2;
