$colorWhite:white;
$colorBlack:black;
$colorBlue:#0271bc;
$bright-orange:#f26002;
$dark-color:#304268;
$colorLightBlue:#8ccbea;
$colorSuperLightBlue:#eff9ff;
$font2:'Roboto Slab', serif;
$font:'Roboto', serif;
$colorRed:red;
