.footer {
	font-family: $font;
	font-size: 14px;
	grid-row: 4/5;
	background-color: $dark-color;
	text-align: center;
	color: $colorWhite;
}
.copyright {
	margin-top: 60px;
}
.heart {
	color:$colorRed;
}
