// .reasons-together {
// 	display: grid;
// width: 100%;
// 	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
// }
// .reasons-title {
// 	grid-row: 1 / 2;
// }
// .reason1{
// 	grid-row: 2 / 3;
// }
// .reason2{
// 	grid-row: 3 / 4;
// }
// .reason3{
// 	grid-row: 4 / 5;
// }
// .btn-more-reasons  {
// 	grid-row: 5 / 6;
// }

@media all and (min-width: 768px){
	.reasons-together{
display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	}
	.reason1{
grid-column: 1 / 2;
	}
	.reason2{
	grid-column: 2/ 3;
	}
	.reason3{
grid-column: 3 / 4;
	}
}
