header {
	position: relative;
	z-index: 1;
}
.button {
	width: 44px;
	height: 44px;
	background-color: $colorBlue;
	position: absolute;
	left: 0;
	top: 0;
	// z-index: 50;
border:none;
}
.menu-trigger img {
	margin: 0 auto;
}
.menu-navigator {
	position: fixed;
	left:0;
	top:0;
z-index: 1;
	background-color: rgba(0, 0, 0, 0);
	//para que cambie el backgrround
	transition: transform ease .7s, background ease .7s .5s;
	//paea que se mueva hacia la izq y se esconda
	transform: translateX(-150%);
	.menu-open &{
		transform:translateX(0);
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.container {
background: rgba (0, 0, 0, 0.5);
margin: 0;
width: 100%;
}
.container-menu {
position: relative;
height: 100vh;
width: 276px;
background: white;
margin-top: -20px;
}
.menu-close {
	position: absolute;
	width: 44px;
	height: 44px;
	background: $bright-orange;
	color: $colorWhite;
	left: 100%;
	cursor: pointer;
	font-size: 1.2em;
	border:none;
}
.menu {
	padding-top: 44px;
	font-size: 16px;
	font-family: $font;
	list-style: none;
padding-left: 0;
}
.item {
border-top: 1px solid rgba(118, 203, 234, 0.3);
display: flex;
justify-content: center;
text-align: left;

}
.reasons {
border-bottom: 1px solid rgba(118, 203, 234, 0.3);
}
.item a{
	text-decoration: none;
	margin: 20px auto;
	color: $colorGrey;
display: block;
}
